<!-- <div class="body1">
  <div class="back">
    <div class="master-container">
      <div class="card cart">
        <label class="title">User Info<h5 class="emb_id">Emp-ID : 7534251</h5></label>
          <div class="products">
            <div class="product">
              <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve">
                <path d="M50,43v2.2c0,2.6-2.2,4.8-4.8,4.8H6.8C4.2,50,2,47.8,2,45.2V43c0-5.8,6.8-9.4,13.2-12.2c0.2-0.1,0.4-0.2,0.6-0.3c0.5-0.2,1-0.2,1.5,0.1c2.6,1.7,5.5,2.6,8.6,2.6s6.1-1,8.6-2.6c0.5-0.3,1-0.3,1.5-0.1c0.2,0.1,0.4,0.2,0.6,0.3C43.2,33.6,50,37.1,50,43z M26,2c6.6,0,11.9,5.9,11.9,13.2S32.6,28.4,26,28.4s-11.9-5.9-11.9-13.2S19.4,2,26,2z"/>
              </svg>
              <div class="personal_info">
                <h3>Cheese Burger</h3>
                <h6>Extra Spicy</h6>
                <h6>No mayo</h6>
              </div>
            </div>
          </div>
      </div>
      
      <form class="personal_form1" #dasboardform="ngForm">
        <div class="card checkout">
          <label class="title">Account details</label>
            <div class="details">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="input-container">
                      <input type="text" id="input" [disabled]="isDisabled" required="" [value]="emp_data.Emp_Fname" ngModel name="fname">
                      <label for="input" class="label">fname</label>
                      <div class="underline"></div>
                    </div>
                    <div class="input-container">
                      <input type="text" id="input" [disabled]="isDisabled" required="" [value]="emp_data.Emp_Lname" ngModel name="lname">
                      <label for="input" class="label">lname</label>
                      <div class="underline"></div>
                    </div>
                    <div class="input-container">
                      <input type="text" id="input" [disabled]="isDisabled" required="" [value]="emp_data.Emp_Data_of_Birth" name="dob" ngModel>
                      <label for="input" class="label">dob</label>
                      <div class="underline"></div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-container">
                      <input type="text" id="input" [disabled]="isDisabled" required="" [value]="emp_data.Emp_Email" name="email" ngModel>
                      <label for="input" class="label">email</label>
                      <div class="underline"></div>
                    </div>
                    <div class="input-container">
                      <input type="text" id="input" [disabled]="isDisabled" required="" [value]="emp_data.Emp_Phone" ngModel name="phone">
                      <label for="input" class="label">Enter Text</label>
                    <div class="underline"></div>
                  </div>
                  <div class="input-container">
                      <input type="text" id="input" [disabled]="isDisabled" required="" [value]="emp_data.Emp_Whatsapp" name="whatsapp" ngModel>
                      <label for="input" class="label">Enter Text</label>
                      <div class="underline"></div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-container">
                    <input type="text" id="input" [disabled]="isDisabled" required="" [value]="emp_data.Emp_Address" name="address" ngModel>
                    <label for="input" class="label">Enter Text</label>
                    <div class="underline"></div>
                  </div>
                  <div class="input-container">
                    <input type="text" id="input" [disabled]="isDisabled" required="" [value]="emp_data.Emp_Postal" name="postal" ngModel>
                    <label for="input" class="label">Enter Text</label>
                    <div class="underline"></div>
                  </div>
                  <div class="input-container">
                    <input type="text" id="input" [disabled]="isDisabled" required="" [value]="emp_data.Emp_Country" name="country" ngModel>
                    <label for="input" class="label">Enter Text</label>
                    <div class="underline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="checkout--footer">
          <button class="checkout-btn price" (click)="edit_profile()">Edit</button> 
           <button class="checkout-btn" (click)="save_profile(dasboardform.value)">Save</button>
        </div>
      </div>
    </form>
  </div>
  </div>
</div> -->
