<app-emp-profile-navbar></app-emp-profile-navbar>
<app-emp-leave-req-sidebar></app-emp-leave-req-sidebar>
<div class="body1">
    <div class="back">
      <div class="master-container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="img">
                  <div class="save">
                    <h4>30</h4>
                  </div>
                </div>
                <div class="text">
                  <p class="h3"> Available Leaves in this Year </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="img">
                  <div class="save">
                    <h4>3</h4>
                  </div>
                </div>
                <div class="text">
                  <p class="h3"> Leaves Used this Year </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="img">
                  <div class="save">
                    <h4>2</h4>
                  </div>
                </div>
                <div class="text">
                  <p class="h3"> Overdue leaves to use before this Month end  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="leave_req_form">
        
    <form class="form" #leave_req_form="ngForm">
      <p class="form-title">Leave Request</p>
      <label>Start Date :</label>
      <div class="input-container">
        
         <input type="date" placeholder="Start date" name="start_date" ngModel >
      </div>
     <label>End Date :</label>
     <div class="input-container">
        
         <input type="date" placeholder="End date" name="end_date" ngModel>
      </div>
      <label>Number Of Days :</label>
      <div class="input-container">
         
          <input type="text" placeholder="" name="no_of_days" ngModel>
       </div>
      <label>Approval Manager :</label>
      <div class="input-container">
        
         <input type="Text" placeholder="" name="approval_manager" ngModel>
      </div>
      <label>Leave Type :</label>
      <div class="input-container">
        
         <input type="Text" placeholder="" name="leave_type" ngModel>
      </div>
      <label>Reason :</label>
      <div class="input-container">
        
         <input type="text" placeholder="" name="reason" ngModel>
      </div>
        <button type="submit" class="submit" (click)="leave_req(leave_req_form.value)">
          Request
     </button>

     
  </form>

      </div>
      <div class="announcements">
        <div class="plan">
          <div class="inner">
            
            <p class="title">Company Leaves</p>
            <p class="info">This plan is for those who have a team already and running a large business.</p>
            <ul class="features">
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span><strong>20</strong> team members</span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span><strong>20</strong> team members</span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span><strong>20</strong> team members</span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span><strong>20</strong> team members</span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>Plan <strong>team meetings</strong></span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>File sharing</span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>Plan <strong>team meetings</strong></span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>File sharing</span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>Plan <strong>team meetings</strong></span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>File sharing</span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>Plan <strong>team meetings</strong></span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>File sharing</span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>Plan <strong>team meetings</strong></span>
              </li>
              <li>
                <span class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                  </svg>
                </span>
                <span>File sharing</span>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
</div>
      
    
